@import "variables";

.doctor-card {
  box-shadow: 2px 2px 15px rgb(128 142 184 / 20%);
  border-radius: 15px;
  background: $white;
  margin: 0 20px 20px;

  @media screen and (max-width: $md4 + 'px') {
    margin: 0 5px 20px;
  }

  &__inner {
    flex: 1;
    padding-right: 10px;
    margin-bottom: 10px;
  }

  &__content {
    display: flex;
    margin-bottom: 15px;

    @media screen and (max-width: $md4 + px) {
      flex-direction: column;
      padding: 0 15px;
    }
  }

  &__inner-content {
    padding: 15px;
  }

  &__avatar {
    flex: 1 0 135px;
    max-width: 135px;
    width: 135px;
    height: 135px;
    border-radius: 8px;
    overflow: hidden;
    margin: 0 5px;
    padding: 6px;

    img {
      border-radius: 8px;
      max-width: 100%;
      max-height: 100%;
      height: auto;
      padding: 0;
      object-fit: cover;
    }

    @media screen and (max-width: $md4 + px) {
      align-self: center;
      margin: 0 0 5px 0;
    }
  }

  &__inner {
    flex: 1;
    padding-right: 10px;
    margin-bottom: 10px;

    @media screen and (max-width: $md4 + px) {
      padding-right: 0;
      margin-bottom: 0;
    }
  }

  &__main {
    margin-bottom: 5px;

    @media screen and (max-width: $md4 + px) {
      text-align: center;
    }
  }

  &__full-name {
    margin-bottom: 5px;
    font-weight: 700;

    a {
      color: #000;
      transition: color 0.2s;

      &:hover {
        color: $darkTeal;
      }
    }

    @media screen and (max-width: $md2 + px) {
      font-size: 18px;
    }
  }

  &__specialties, &__category {
    font-weight: 700;

    @media screen and (max-width: $md2 + px) {
      font-size: 13px;
    }
  }

  &__specialties {
    margin-bottom: 5px;
  }

  &__category {
    margin-bottom: 10px;
  }

  &__description {
    margin: 10px 0;
    line-height: 16px;
    color: #707272;
    font-size: 13px;
    max-height: 80px;
    height: 80px;
    overflow: hidden;

    @media screen and (max-width: $md4 + px) {
      & {
        display: none;
      }
    }
  }

  &__price {
    margin-bottom: 10px;
    text-align: end;
  }

  &__full-name, &__specialties, &__category, {
    @media screen and (max-width: $md4 + px) {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }

  &__make-appointment {
    text-align: end;
    margin-bottom: 10px;
  }

  &__look {
    margin-top: 10px;
    text-align: end;
  }
}

.specialties-list {

  &__item {
    &::before {
      content: ' ';
    }

    &::after {
      content: ',';
    }

    &:last-child::after {
      content: '';
    }
  }
}

.experience {
  display: inline-flex;
  align-items: center;
  color: #707272;
  font-size: 13px;

  &__number {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 5px;
    background-color: #0957c3;
    border-radius: 10px;
    color: $white;
    width: 20px;
    height: 20px;
    font-size: 11px;
    font-weight: 700;
  }

  @media screen and (max-width: $md4 + px) {
    & {
      display: flex;
      justify-content: center;
      margin-bottom: 10px;
    }
  }
}
