.footer {
  padding: 70px 0;
  background-color: $grayBg;

  @media screen and (max-width: $md3 + px) {
    padding: 30px 0;
  }

  &__row {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media screen and (max-width: $md3 + px) {
      text-align: center;
      flex-direction: column;
    }
  }

  &__social {
    @media screen and (max-width: $md3 + px) {
      margin: 15px 0;
    }
  }

  &__column {
    flex: 0 1 33.333%;
  }

  &__address {
    color: $darkGray;
    font-size: 14px;
    line-height: 18px;
    font-style: italic;

    p {
      &:first-child {
        font-size: 16px;
        font-weight: 700;
        font-style: normal;
      }
    }
  }
}

.social {
  display: flex;
  justify-content: center;
  align-items: center;

  &__item {
    margin: 0 15px;
    font-size: 30px;
    color: $darkBlue;

    &::before {
      transition: color 0.3s ease;
    }

    @media screen and (min-width: $md2 + px) {
      &:hover::before {
        color: $darkGreen;
      }
    }
  }
}

.dev {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  line-height: 18px;

  &__text {
  }

  &__copy {
  }
}
