@import "variables";
@import "ui";
@import "icons";

.reset-password {
  height: 100%;

  &__body {
    max-width: 400px;
    margin: 0 auto;
    padding: 80px 20px 20px;
  }

  &__icon {
    text-align: center;
    margin-bottom: 25px;
  }

  &__title {
    font-size: 25px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 15px;
  }

  &__subtitle {
    text-align: center;
    margin-bottom: 20px;
    font-weight: 500;
    font-size: 16px;
    line-height: 23px;
    color: $grayDarken1;
  }

  &__form {
    padding: 0 5px;

    input {
      @extend %field-reg;
      padding: 12px 8px;
      border: 1px solid $grayDarken3;
      font-size: 15px;
    }

    label {
      @extend %label-reg;
      font-size: 14px;
    }
  }

  &__email, &__password, &__confirm-password {
    margin-bottom: 20px;
  }

  &__reset-btn {
    background: $darkTeal2;
    text-align: center;
    position: relative;
    cursor: pointer;
    padding: 1px 0;
    border-radius: 5px;

    &::after {
      @extend %after-effect-btn;
    }

    &:hover::after {
      opacity: 1;
    }

    button {
      border: none;
      background-color: transparent;
      width: 100%;
      padding: 12px 8px;

      span {
        font-family: 'MyRoboto', sans-serif;
        font-size: 16px;
        color: $white;
      }
    }
  }

  &__receive {
    font-size: 13px;
    text-align: center;
  }

  &__continue {
    background: $darkTeal2;
    text-align: center;
    position: relative;
    cursor: pointer;
    border-radius: 5px;

    a {
      display: block;
      padding: 13px 8px;
      color: $white;

      &::after {
        @extend %after-effect-btn;
      }

      &:hover::after {
        opacity: 1;
      }
    }
  }
}

.icon-password {
  &__block {
    font-size: 24px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: rgba(245, 201, 134, 0.3);
    padding: 10px;

    &.reset-successfully {
      background: rgba(152, 251, 152, 0.2);
    }
  }

  &__key {
    display: flex;
    color: #21243D;

    &.reset-successfully {
      color: #00A86B;
    }
  }
}

.input-error {
  @extend %input-error;
}

.form-error {
  input {
    @extend %form-error;
  }
}
