/* Mixins */

/* Fonts */

/* Connecting fonts */

@import "fonts";

/* Icon fonts */

/* Default Font */

$fontFamily: "MyMontserrat", sans-serif;

/* Variables */
@import "variables";

/* Zeroing. Common parameters */

@import "null";

body {
  &.lock {
    overflow: hidden;
  }
}

/* SHELL */

.wrapper {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

/* MAIN GRID */

.container {
  max-width: $maxWidthContainer + px;
  margin: 0 auto;
  padding: 0 15px;

  @media (max-width: $md1+px) {
    max-width: 980px;
  }

  @media (max-width: $md2+px) {
    max-width: 750px;
  }

  @media (max-width: $md3+px) {
    max-width: none;
  }
}

/* CONNECTING UI FILES OF PAGE STYLES AND ELEMENTS */

/* MAIN UNIT */

.page {
  padding: $heightHeader + px 0 0;
  flex: 1 1 auto;
}

.admin-page {
  flex: 1 1 auto;
  padding: 0 0 0 $widthOpenSidebar + px;
  background: $grayLighten1;
  transition: $transition04;
}
