/* Mixins */

/* Fonts */

/* Connecting fonts */

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400&display=swap');

/* Icon fonts */

/* Default Font */

$fontFamily: "Lato", sans-serif;

/* Variables */
@import "variables";

/* Zeroing. Common parameters */

@import "null";

body {
  &.lock {
    overflow: hidden;
  }
}

/* SHELL */

.wrapper {
  overflow: hidden;
  min-height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

/* MAIN GRID */

._container {
  max-width: $maxWidthContainer + px;
  margin: 0 auto;

  @media (max-width: $md1+px) {
    max-width: 980px;
  }

  @media (max-width: $md2+px) {
    max-width: 750px;
  }

  @media (max-width: $md3+px) {
    max-width: none;
  }
}

/* CONNECTING UI FILES OF PAGE STYLES AND ELEMENTS */
@import "src/assets/scss/header.scss";

/* MAIN UNIT */

.page {
  padding: 50px 0 0 0;
  flex: 1 1 auto;
}
