@import "variables";

%input-error {
  font-family: 'MyRoboto', sans-serif;
  color: #f57f6c;
  margin-top: 10px;
}

%form-error {
  border-color: #f57f6c !important;
  outline: #f57f6c !important;
}

%field-reg {
  font-family: 'MyRoboto', sans-serif;
  padding: 12px;
  width: 100%;
  border: 2px solid #000;
  border-radius: 10px;
  background-color: transparent;
  color: #21243D;
  font-size: 18px;
}

%label-reg {
  display: block;
  font-family: 'MyRoboto', sans-serif;
  font-size: 16px;
  margin-bottom: 10px;
  color: #21243D;
}

%after-effect-btn {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  transition: all 0.2s;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

@mixin main-btn($background, $color) {
  padding: 13px 30px;
  background-color: $background;
  color: $color;
  font-family: "MyRoboto", sans-serif;
  font-weight: 700;
  font-size: 11px;
  letter-spacing: 1.4px;
  border-radius: 5px;
  text-transform: uppercase;
  position: relative;
}

.card-look, .make-appointment {
  button {
    @include main-btn($burgundyLighten, $LightenBlue2);

    &::before {
      @extend %after-effect-btn;
    }

    &:hover::before {
      opacity: 1;
    }
  }
}

.calendar-plus, .calendar-minus {
  text-align: center;

  button {
    height: 30px;
    background-color: #fff;
    font-size: 30px;
  }
}

.registration-week {
  &, &__time {
    display: flex;
    gap: 15px;
  }

  &__day, &__day-type, &__from, &__to, &__duration {
    flex: 0 1 50%;
  }

  &, &__time:not(:last-child) {
    margin-bottom: 20px;
  }

  &__clinic-schedule {
    margin-bottom: 10px;
    background-color: $darkTeal;
    padding: 15px;
    font-weight: 500;
    color: $white;
    border-radius: 5px;

    & > span {
      font-weight: 700;
    }
  }
}
