$minWidth: 320;
$maxWidth: 1400;
$maxWidthContainer: 1200;
$md1: $maxWidthContainer + 12;
$md2: 991.38;
$md3: 767.98;
$md4: 479.98;

$heightHeader: 82;
$widthOpenSidebar: 250;
$widthCloseSidebar: 88;

$darkTeal: #009688;
$darkTeal2: #3eb49b;
$LightenTeal2: #ddfcf6;
$darkBlue: #21243D;
$golden: #F5C986F9;
$white: #fff;
$grayLighten1: #f7f7f7;
$grayLighten2: #efefef;
$grayDarken1: #848789;
$grayDarken2: #707070;
$adminBodyColor: #E4E9F7;


$transition02: all 0.2s ease;
$transition03: all 0.3s ease;
$transition04: all 0.4s ease;
